{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'trip/estilo.css' %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

<body>
    <div class="container-fluid">
        <nav>
            <div class="nav-wrapper light-blue darken-4">
                <a href="{% url 'index_adm'%}" class="brand-logo center" style"color:black">DINA</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Sair</a></li>
                </ul>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/index_adm">Admin</a></li>
                </ul>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/">Usuário</a></li>
                </ul>

            </div>
        </nav>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>