{% extends 'base.html' %}

{% block content %}

{% if cost %}
<div class="topo row">
    <h5>{{trip.name}}</h5>
    <h6 class="right">R${{total_spent}}/R${{declared_limit}} Esperados</h6>
    <div class="progress blue lighten-3">
        <div class="determinate blue" style="width: {{percentage}}%"></div>
    </div>
</div>
{% endif %}

{% if cost %}
<h5>Adicione um novo gasto</h5>
{% else %}
<h5>Adicione uma nova viagem</h5>
{% endif %}
<hr>
<div class="col m10" >
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="topo" style="margin-top: 0px;">
            {% for field in form %}
            <div class="col s12 m5">
                <label>{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
        </div>
        
        <div style="padding-top:10px">
            <button class="btn-flat waves-effect waves-light btn-flat right" type="submit" name="add_post">Enviar</button>
        </div>
    </form>
</div>

{% endblock %}