{% extends 'base.html' %}

{% block content %}

<div class="topo row">
	<img class="left" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWlEwIxnbpUOVZKitE7g7Bg_OUtYUy9Etc6BEfxF_S0z2VmeWy">

	<h5>{{user.first_name}} {{user.last_name}}</h5>
	<h6>{{user.email}}</h6>

	<!-- <a href="#" class="right btn green">Adicionar gasto</a> -->
</div>

<h5 class="left-align">Minhas viagens</h5>
<hr>

<ul class="collection">
		{% for trip in trips %}
		<a href="{% url 'trip_single' trip.pk %}">
			<li class="collection-item item-list">
				<h5 style="color:#333">{{trip.name}}<spam class="data">{{trip.start}} a {{trip.end}}</spam>
				</h5>
			</li>
		</a>
		{% endfor %}
	</ul>
<a href="#" class="right btn-flat modal-trigger">ver mais</a>

{% endblock %}