{% extends 'base.html' %}

{% block content %}

<div class="topo row">
	<img class="left" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHAEm4k0ynZ5o1J5KlgzeOli6bmwhxnPt4jKj0gdEzKZQSJy2T">

	<h5>Victor Henrique</h5>
	<h6>NUSP: 9791027</h6>

	<a href="#" class="right btn green">Adicionar gasto</a>
</div>

<h5 class="left-align">Minhas viagens</h5>
<hr>

<ul class="collection">
	<li class="collection-item item-list">
		<h5>Titulo da viagem 1<spam class="data">01/01/2019 a 05/01/2019</spam></h5>
	</li>
	<li class="collection-item item-list">
		<h5>Titulo da viagem 2<spam class="data">01/01/2019 a 05/01/2019</spam></h5>
	</li>
	<li class="collection-item item-list">
		<h5>Titulo da viagem 3<spam class="data">01/01/2019 a 05/01/2019</spam></h5>
	</li>
	<li class="collection-item item-list">
		<h5>Titulo da viagem 4<spam class="data">01/01/2019 a 05/01/2019</spam></h5>
	</li>
</ul>
<a href="#" class="right btn-flat modal-trigger">ver mais</a>

{% endblock %}