{% extends 'base.html' %}

{% block content %}

<!-- Lista de viagens -->
<div class="row">
	<h5 class="left-align">Lista de viagens</h5>
	<hr>
	<ul class="collection">
		{% for trip in trips %}
		<a href="{% url 'trip_single' trip.pk %}">
			<li class="collection-item item-list">
				<h5>{{trip.benefactor}} ({{trip.origin}} --> {{trip.destination}})<spam class="data">{{trip.start}} a {{trip.end}}</spam>
				</h5>
			</li>
		</a>
		{% endfor %}
	</ul>
	<a href="#" class="right btn-flat modal-trigger">ver mais</a>
</div>

<!-- Gastos por semana -->
<div class="row">
	<div class="col m6">
		<h5 class="left-align">Gastos por categoria</h5>
		<hr>
		<div style="background-color:white">
			<div id="gasto-cat"></div>
		</div>
	</div>
	<div class="col m6">
		<h5 class="left-align">Gastos semanais</h5>
		<hr>
		<div style="background-color:white">
			<div id="city-bar"></div>
		</div>
	</div>
</div>

<div class="row">
	<h5 class="left-align">Gastos semanais</h5>
	<hr>
	<div id="serie-temp"></div>

</div>

<!-- Graficos -->

<script type="text/javascript">
	Highcharts.chart('serie-temp', {

		title: {
			text: 'Gastos com diárias'
		},

		subtitle: {
			text: 'por mês e na unidade'
		},

		xAxis: {
			type: 'datetime'
		},

		yAxis: {
			title: {
				text: 'Valor gasto (R$)'
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle'
		},
		tooltip: {
			valuePrefix: 'R$ '
		},


		plotOptions: {
			series: {
				label: {
					connectorAllowed: false
				},
				pointStart: Date.UTC(2018, 0),
				pointIntervalUnit: 'month' // one month

			}
		},

		series: [{
			name: 'Gastos',
			data: [
				{% for value in values_pm %}
					{{ value }},
		{% endfor %}
			],
		}],

		responsive: {
			rules: [{
				condition: {
					maxWidth: 500
				},
				chartOptions: {
					legend: {
						layout: 'horizontal',
						align: 'center',
						verticalAlign: 'bottom'
					}
				}
			}]
		}

	});


	Highcharts.chart('gasto-cat', {
		chart: {
			backgroundColor: 'rgba(255, 255, 255, 0.0)',
			// plotBackgroundColor: '#ddd',
			plotShadow: false,
			type: 'pie'
		},
		title: {
			text: ' '
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		},
		credits: {
			enabled: false
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					format: '<b>{point.name}</b>: {point.percentage:.1f} %',
					style: {
						color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
					}
				}
			}
		},
		series: [{
			name: 'Brands',
			colorByPoint: true,
			data: [
				{% for data in pie_graph_data %}
    	{
			name: '{{data.cat}}',
			y: {{ data.value }}
    	},
		{% endfor %}
    	]
    }]
});


	Highcharts.chart('city-bar', {
		chart: {
			type: 'bar'
		},
		title: {
			text: 'Gastos'
		},
		subtitle: {
			text: 'por cidade onde ocorreram'
		},
		xAxis: {
			categories: [
				{% for city in cities %}
				'{{city}}',
				{% endfor %}
			],
		title: {
			text: null
		}
	},
		yAxis: {
			min: 0,
			title: {
				text: 'Gastos (R$)',
				align: 'high'
			},
			labels: {
				overflow: 'justify'
			}
		},
		tooltip: {
			valuePrefix: 'R$ '
		},
		plotOptions: {
			bar: {
				dataLabels: {
					enabled: true
				}
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'top',
			x: -40,
			y: 80,
			floating: true,
			borderWidth: 1,
			backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
			shadow: true
		},
		credits: {
			enabled: false
		},
		series: [{
			name: '2018',
			data: [
				{% for value in values %}
					{{ value }},
		{% endfor %}
		]
		}]
});
</script>

{% endblock %}