appdirs==1.4.3
apyori==1.1.1
backcall==0.1.0
bleach==2.1.4
btrfsutil==1.0.0
CacheControl==0.12.5
cached-property==1.5.1
catboost==0.11.0
chardet==3.0.4
colorama==0.4.0
cupshelpers==1.0
cycler==0.10.0
decorator==4.3.0
distlib==0.2.8
distro==1.3.0
dj-database-url==0.5.0
Django==2.1.3
django-heroku==0.3.1
docker==3.5.1
docker-compose==1.23.1
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.2.3
enum34==1.1.6
gunicorn==19.9.0
html5lib==1.0.1
idna==2.7
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
Jade-Application-Kit==1.3.5
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
keyutils==0.5
kiwisolver==1.0.1
lockfile==0.12.2
louis==3.7.0
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.8.3
msgpack==0.5.6
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.6.0
npyscreen==4.10.5
numpy==1.15.1
packaging==18.0
pacman-mirrors==4.14.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.3.0
progress==1.4
prometheus-client==0.3.1
prompt-toolkit==1.0.15
psycopg2==2.7.6
ptyprocess==0.6.0
pycairo==1.17.0
pycups==1.9.74
pycurl==7.43.0.2
Pygments==2.2.0
PyGObject==3.30.1
pyparsing==2.2.2
PyQt5==5.11.3
PyQt5-sip==4.19.13
pysmbc==1.0.15.8
python-dateutil==2.7.3
python-libtorrent==1.1.10
pytoml==0.1.20
pytz==2018.5
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.1
reportlab==3.5.9
requests==2.20.0
retrying==1.3.3
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
sip==4.19.13
six==1.11.0
sklearn==0.0
team==1.0
terminado==0.8.1
testpath==0.3.1
texttable==1.4.0
tornado==5.1
traitlets==4.3.2
udiskie==1.7.5
urllib3==1.24
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
whitenoise==4.1
widgetsnbextension==3.4.0
xgboost==0.81
